
html{
    font-size: 100%;
}
#titre{
/*texte*/
    width: 70%;
    display: inline-block;
    text-align:center;
    font-size: 4rem;
    padding-bottom: 20pt;
    margin-bottom: 0pt;
    margin-top: 10pt;
    vertical-align:text-bottom;
/*image*/
/*    background-image: url(jarditou_logo.jpg); 
    background-repeat:no-repeat; 
    background-size: 220pt;                 */

}
#logo{
    width: 25%;
    display: inline-block;
}

/* menus */
    nav{
        background-color: black;
        padding: 1px;
        margin-bottom: 5px;

    }
    nav a{
        color: white;
    }

    nav li{
        display: inline;
        
}
#promotion{
    width:100%
}
/* taille titre h1*/

    h1{
        font-size: 30;
    }

/*mise en forme aside */
    .main {
        display: flex;

    }

    #section{

        width: 70%;
        padding-right: .3rem;
    }
    aside {
        width: 30%;
        padding-left: .5rem;
        float: right;
        color: black;
        background-color: lightgray;
    }

/*mise en forme SANS aside */
    #section2{
        width: 100%;
}